@font-face {
	font-family: 'DIN Pro';
	font-style : normal;
	src        : url('../fonts/DIN-Pro/din_pro_condensed_regular.woff2');
}

* {
	margin    : 0;
	padding   : 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}

body {
	display       : flex;
	flex-direction: column;
	width         : 100%;
	align-items   : center;
}

.content {
	display        : flex;
	background     : #FFF;
	justify-content: center;
	flex-direction : column;
	align-items    : center;
	width          : 621.981px;
}

.header__burger-icon {
	display: none;
}

header {
	display    : flex;
	height     : 127.336px;
	flex-shrink: 0;
	margin-top : 0;
	width      : 100%;
}

.logo {
	flex-shrink: 0;
	cursor     : pointer;
}

.header__wrap {
	display       : flex;
	align-items   : baseline;
	width         : 100%;
	flex-direction: column;
}

.header__logo_block-wrap {
	display        : flex;
	justify-content: space-between;
	width          : 100%;
	flex-wrap      : wrap;
}

.header__button-block {
	display                  : flex;
	position                 : relative;
	flex-shrink              : 0;
	margin-right             : 20px;
	background               : #D0BE96;
	border-bottom-left-radius: 10px;
	border-top-right-radius  : 10px;
	padding-right            : 4px;
	padding-left             : 0px;
}

.header__contacts {
	display    : flex;
	align-items: center;
	cursor     : pointer;
}

#collections {
	color          : #FFF;
	font-family    : 'DIN Pro';
	font-size      : 14px;
	font-style     : normal;
	font-weight    : 500;
	line-height    : normal;
	border         : none;
	z-index        : 5;
	text-decoration: none;
	flex-shrink    : 0;
	padding        : 2px 2.6px 5px 7px;
}

.collections-back {
	position: absolute;
}

.header__sale {
	width          : 54.639px;
	height         : 16.505px;
	flex-shrink    : 0;
	color          : #3A4152;
	font-family    : 'DIN Pro';
	font-size      : 14px;
	font-style     : normal;
	font-weight    : 500;
	line-height    : normal;
	text-decoration: none;
}

.header__block-phone {
	display        : flex;
	position       : relative;
	justify-content: center;
	width          : 23.218px;
	height         : 23.218px;
	flex-shrink    : 0;
	align-items    : center;
	margin-left    : 20px;
}

.back-phone {
	position       : absolute;
	justify-content: center;
	align-items    : center;
}


.icon-phone {
	position       : absolute;
	justify-content: center;
	align-items    : center;
	display        : flex;
}

.pagination {
	color          : #A3A5AA;
	font-family    : 'DIN Pro';
	font-size      : 14px;
	font-style     : normal;
	font-weight    : 500;
	line-height    : normal;
	text-decoration: none;
	cursor         : pointer;
}

.logo_block {
	display       : flex;
	flex-direction: column;
	flex-shrink   : 0;
}

.logo-mobile {
	display: none;
}

.info-partners {
	display: flex;
}

.info-partners__wrap {
	display       : flex;
	flex-direction: column;
}

.info-partners__headline {
	width       : 424.715px;
	height      : 39.508px;
	flex-shrink : 0;
	color       : #3A4152;
	font-family : 'DIN Pro';
	font-size   : 27px;
	font-style  : normal;
	font-weight : 500;
	line-height : normal;
	margin-top  : 18px;
	padding-left: 0px;
}

.info-frame {
	position       : absolute;
	display        : flex;
	justify-content: center;
	align-items    : center;
}

.header__pagination {
	display     : flex;
	padding-left: 57px;
}

.info-partners__headline_line {
	width      : 100%;
	height     : 2.501px;
	flex-shrink: 0;
	background : #D0BE96;
	margin-top : 6px;
}

.info-partners__blocks {
	display        : flex;
	width          : 100%;
	margin-top     : 27px;
	flex-wrap      : wrap;
	margin-left    : 0px;
	justify-content: space-between;
}

.info-partner {
	display        : flex;
	justify-content: center;
	align-items    : center;
	width          : 192.57px;
	height         : 70.645px;
	flex-shrink    : 0;
	position       : relative;
	margin-left    : 0;
	margin-right   : 19px;
}

.info-partner:nth-child(3) {
	margin-bottom: 16px;
	margin-right : 0;
}

.info-partner:nth-child(6) {
	margin-right: 18px;
}

.inter-cosmetology-block {
	margin-left: 18px;
}

.cosmetology {
	width      : 149.553px;
	height     : 27.667px;
	flex-shrink: 0;
}

.inter-cosmetology {
	width      : 164px;
	height     : 39px;
	flex-shrink: 0;
}

.Distributors {
	display   : flex;
	margin-top: 75px;
}

.Distributors__blocks {
	display        : flex;
	margin-top     : 25px;
	flex-wrap      : wrap;
	width          : 100%;
	justify-content: space-between;
}

.Distributor-partner:nth-child(3) {
	margin-bottom: 17px;
}

.Distributor-partner {
	display        : flex;
	justify-content: center;
	align-items    : center;
	width          : 192.57px;
	height         : 70.645px;
	flex-shrink    : 0;
	position       : relative;
}

.Distributors__wrap {
	display       : flex;
	flex-direction: column;
}

.info-partner-big-block {
	display        : flex;
	justify-content: center;
	align-items    : center;
	position       : relative;
	width          : 403.363px;
	height         : 70.645px;
	flex-shrink    : 0;
	margin-bottom  : 16px;
}

.estemarko--mobile {
	display: none;
}

.forma {
	width      : 98.14px;
	height     : 58.489px;
	flex-shrink: 0;
}

.info-frame-mobile-big {
	display: none;
}

.info-frame-big {
	position       : absolute;
	display        : flex;
	justify-content: center;
	align-items    : center;
}

.cosmetology-mobile {
	display: none;
}

.inter-cosmetology-mobile {
	display: none;
}

.forma-mobile {
	display: none;
}

.beautiful-jen {
	width      : 129.817px;
	height     : 36.228px;
	flex-shrink: 0;
}

.beautiful-jen-mobile {
	display: none;
}

.astera {
	width      : 94.54px;
	height     : 55.327px;
	flex-shrink: 0;
}

.astera-mobile {
	display: none;
}

.medline-volga-mobile {
	display: none;
}

.aksel-farm-mobile {
	display: none;
}

.freya-group-mobile {
	display: none;
}

.hepru-mobile {
	display: none;
}

.clinics-patner-block {
	display        : flex;
	justify-content: center;
	align-items    : center;
	width          : 192.57px;
	height         : 70.645px;
	flex-shrink    : 0;
	position       : relative;
}

.clinics-patner-block:nth-child(4) {
	margin-bottom: 16px;
}

.clinics-patner-block:nth-child(2) {
	margin-left  : 0;
	margin-bottom: 16px;
}

.clinics-patner-block:nth-child(8) {
	margin-right: auto;
	margin-left : 23px;
}

.astera-block {
	margin-left: 18px;
}

.top-med-group {
	width      : 122.812px;
	height     : 46.564px;
	flex-shrink: 0;
}

.medline-volga {
	width      : 112.517px;
	height     : 43.331px;
	flex-shrink: 0;
}

.aksel-farm {
	width      : 154px;
	height     : 28px;
	flex-shrink: 0;
}

.freya-group {
	width      : 76.128px;
	height     : 56.59px;
	flex-shrink: 0;
}

.clinics {
	display   : flex;
	margin-top: 73px;
}

.clinics__wrap {
	display       : flex;
	flex-direction: column;
}

.Logo_Dr {
	width      : 138.511px;
	height     : 69.256px;
	flex-shrink: 0;
}

.Euro-sharm {
	width      : 129.073px;
	height     : 44.624px;
	flex-shrink: 0;
}

.i-beautiful {
	width      : 134.192px;
	height     : 23.137px;
	flex-shrink: 0;
}

.family-doctor {
	width      : 139.585px;
	height     : 30.825px;
	flex-shrink: 0;
}

.age-clinic {
	width      : 149.234px;
	height     : 30.301px;
	flex-shrink: 0;
}

.effi {
	width      : 122.534px;
	height     : 55.697px;
	flex-shrink: 0;
}

.last-partner-block {
	justify-content: flex-start;
}

.ml-block {
	margin-left : 22px;
	margin-right: auto;
}

.mira {
	width      : 112.912px;
	height     : 47.006px;
	flex-shrink: 0;
}

.new-medicine {
	width      : 113.224px;
	height     : 43.025px;
	flex-shrink: 0;
}

.how-become-client {
	display        : flex;
	margin-top     : 54px;
	width          : 100%;
	justify-content: center;
}

.how-become-client__wrap {
	display       : flex;
	flex-direction: column;
}

.how-become-client__form-blocks {
	display        : flex;
	margin-top     : 26px;
	width          : 100%;
	justify-content: space-between;
}

.how-become-client__form-blocks_offer-text {
	width      : 223.689px;
	height     : 87.235px;
	flex-shrink: 0;
	color      : #3A4152;
	font-family: 'DIN Pro';
	font-size  : 12px;
	font-style : normal;
	font-weight: 400;
	line-height: normal;
}

.how-become-client__form {
	display       : flex;
	flex-direction: column;
	width         : 325.473px;
}

.form__input {
	flex-shrink   : 0;
	color         : #D5C6A3;
	font-family   : 'DIN Pro';
	font-size     : 12px;
	font-style    : normal;
	font-weight   : 500;
	line-height   : normal;
	width         : 319.974px;
	border        : transparent;
	border-bottom : 1px solid #B2B2B2;
	padding-bottom: 10px;
	margin-top    : 20px;
}

input:focus-visible {
	border        : none;
	outline-offset: 0px;
}

.form__input:first-child {
	margin-top: 0;
}

.form__input::-webkit-input-placeholder {
	color: #D5C6A3;
}

.form__input::-moz-placeholder {
	color: #D5C6A3;
}

.form__input:-moz-placeholder {
	color: #D5C6A3;
}

.form__input:-ms-input-placeholder {
	color: #D5C6A3;
}

.form__input-text {
	width         : 325.473px;
	border-radius : 10px;
	border        : 0.5px solid #D0BE96;
	margin-top    : 23px;
	padding-top   : 19px;
	display       : flex;
	padding-left  : 25px;
	padding-bottom: 75px;
}

.form__input-text::-webkit-input-placeholder {
	color: #D5C6A3;
}

.form__checkbox-block-pay {
	display   : flex;
	margin-top: 23px;
}

#agreement {
	width  : 14.185px;
	height : 13.673px;
	display: flex;
	border : 0.5px solid #3A4152;
	cursor : pointer;
}

.checkbox-agreement-label {
	display    : flex;
	margin-left: 10px;
	color      : #3A4152;
	font-family: DIN Pro;
	font-size  : 12px;
	font-style : normal;
	font-weight: 400;
	line-height: normal;
	width      : 106.076px;
	height     : 35.643px;
	flex-shrink: 0;
}

.form__checkbox-block {
	display: flex;
}

#button-pay {
	color      : #FFF;
	font-family: 'DIN Pro';
	font-size  : 16px;
	font-style : normal;
	font-weight: 500;
	line-height: normal;
	width      : 189.016px;
	height     : 42.591px;
	flex-shrink: 0;
	background : #3A4152;
	margin-left: 7px;
	cursor     : pointer;
}

footer {
	width          : 100%;
	background     : #3A4152;
	height         : 269.065px;
	flex-shrink    : 0;
	margin-top     : 69px;
	justify-content: center;
	display        : flex;
}

.footer-logo-mobile {
	display: none;
}

.footer__wrap {
	width         : 730.653px;
	display       : flex;
	margin-top    : 41px;
	margin-left   : 120px;
	flex-direction: column;
}

.footer__sections-all-wrap {
	display: flex;

}

.footer__section-1 {
	display       : flex;
	flex-direction: column;
}

.policy-block {
	display       : flex;
	flex-direction: column;
}

.policy-block__item,
.collection-block__item {
	color          : #FFF;
	font-family    : 'DIN Pro';
	font-size      : 14px;
	font-style     : normal;
	font-weight    : 500;
	line-height    : normal;
	text-decoration: none;
}

.policy-mt {
	margin-top: 34px;
}

.footer__section-2 {
	margin-left: 30px;
	display    : flex;
}

.footer__section-phones {
	display       : flex;
	flex-direction: column;
	margin-left   : 57px;
}

.footer__phone {
	color          : #D0BE96;
	font-family    : 'DIN Pro';
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 500;
	line-height    : normal;
	text-decoration: none;
}

.footer__email {
	margin-top: 30px;
}

.footer__email,
.footer__insta {
	color          : #FFF;
	font-family    : 'DIN Pro';
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 500;
	line-height    : normal;
	text-decoration: none;
}

.footer__social-blocks {
	display    : flex;
	margin-left: 56px;
}

.footer__social-blocks:last-child {
	margin-right: 0;
}

.social-block {
	margin-right: 17px;
	cursor      : pointer;
}

/*.VK {}

.whastsapp {}

.telegram {}
*/

.footer__licenze {
	height     : 28.536px;
	flex-shrink: 0;
	color      : #D0BE96;
	text-align : center;
	font-family: 'DIN Pro';
	font-size  : 14px;
	font-style : normal;
	font-weight: 500;
	line-height: normal;
	margin-top : 26px;
}